
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= url("style.css") %>" type="text/css">
  <title>Listings | MakersBnB</title>
</head>
<body>
<div class="parallax">
  <nav class="navbar navbar-light" style="background-color: rgba(255, 255, 255, 0.3);">
    <img src="../images/bed-and-breakfast.svg" class="change-my-color-size">
    <a class="navbar-brand logo" href="../" style="color: white">MakersBnB</a>
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item">
        <a class="navbar-link nav-right" href="../about-us">About</a> 
        <a class="navbar-link nav-right" href="../user/login">Login</a>
      </li>
    </ul>
  </nav>


  <div class="row justify-content-center">
        <p class="warning fade-in">
          <%= flash[:date_warning] %>
        </p>
        </div>
        <div class="row justify-content-center">
        <p class="warning fade-in">
          <%= flash[:booking_done] %>
        </p>
        </div>
<div id="wrapper" class="container-fluid">
  <div class="row justify-content-center p-3">
    <% if @user %>
       <div class="pt-4"><h1 class="welcome">Welcome, <%= @user.username %></h1></div>
    <% end %>
      </div>
      <div class="row justify-content-center">
        <div class="p-5"><h2 class="welcome">Book a space</h2></div>
      </div>
      <div class="form-group">
        <form action="/listing/new" method='get'>
        <input type="submit" value="New listing" class="btn btn-primary mx-auto">
        </form>
      </div>
      <div class="row justify-content-center">
        <h3 class="pt-5">The Properties</h3>
      </div>
      <div class="row justify-content-center">
        <ul>
          <% @listing.each do |list| %>
          <a href="/listing/<%= list.listing_id%>/booking" class="click_listing">
            <div class="listing_wrapper d-flex justify-content-start p-4">
              <li>
                <a href="/listing/<%= list.listing_id%>/booking" class="click_listing">
                  <h4><%= list.name %></h4><br>
                </a>
                  <p><%= list.description %></p>
                  <p class="price">£<%= list.price %> - Per Night</p>
                  <a href="/listing/<%= list.listing_id%>/booking"><input type="button" value="View Details" class="btn btn-info btn-small"></input></a>
              </li>
            </div>
          <% end %>
          </ul>
      </div>
      </div>
  </div>
</body>
</html>